
h1 {
    border-style: dashed;
    border-width: 12px;
    text-align: center;
    font-family: 'Arial';
    color: rgb(233, 64, 64);
    
    background-color: rgb(96, 161, 96);

    margin: 20px;
    padding: 60px;
}
h2 {
    letter-spacing: 0em;
    text-align: center;
    background-color: #ccc;
    margin: 20px;
    padding: 40px;
}
h3 {
    letter-spacing: 1em;
    text-align:center;
    font-family:'Arial';
    font-size: 30px;
    color: white;
    background-color: orange;
}


p {
    font-family:Arial;
    font-size: 35px;
}

strong {
    font-family:cursive;
    font-style: italic;
    text-transform: uppercase;
}