body {
    font-size: 70px;
    color: lime;
}
p {
    font-size: 70px;
    color: red;
}

h1 {
    color: white;
    background-color: #009;
}
h2 {
    color: white;
    background-color: orange;
}
h3 {
    color: blueviolet;
    background-color: blue;
}